{% extends "head.html" %} {% block body %}
<h1>{{ name }}</h1>
<form>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="inputNumProcesadores">Numero de microprocesadores</label>
      <input type="number" class="form-control" id="inputNumProc" />
    </div>
    <div class="form-group col-md-2">
      <label for="inputTamQuantum">Tamaño de quantum</label>
      <input type="number" class="form-control" id="inputTamQuantum" />
    </div>
    <div class="form-group col-md-2">
      <label for="inputTiemCambioContexto">Tiempo Cambio de Contexto</label>
      <input type="number" class="form-control" id="inputTiemCambioContexto" />
    </div>
    <div class="form-group col-md-2">
      <label for="inputTiemBloqueo">Tiempo de bloqueo</label>
      <input type="number" class="form-control" id="inputTiemBloqueo" />
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
  </div>
</form>
{% endblock %}
