{% extends "head.html" %} {% block body %}
<div class="row m-2">
  <div class="col-sm-4 mb-2">
    <h1>{{ name }}</h1>
    <form action="/" method="POST">
      <div class="form-group">
        <label for="numProc">Numero de microprocesadores</label>
        <input type="number" class="form-control" id="numProc" />
      </div>
      <div class="form-group">
        <label for="tamQuan">Tamaño de quantum</label>
        <input type="number" class="form-control" id="tamQuan" />
      </div>
      <div class="form-group">
        <label for="tiemCC">Tiempo Cambio de Contexto</label>
        <input
          type="number"
          class="form-control"
          id="tiemCC"
        />
      </div>
      <div class="form-group">
        <label for="tiemBloq">Tiempo de bloqueo</label>
        <input type="number" class="form-control" id="tiemBloq" />
      </div>
      <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
  </div>
  <div class="col-sm-8">
    <div class="table-responsive mx-2">
      <h1>Micro</h1>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Proceso</th>
            <th scope="col">TCC</th>
            <th scope="col">TE</th>
            <th scope="col">TVQ</th>
            <th scope="col">TT</th>
            <th scope="col">TI</th>
            <th scope="col">TF</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive mx-2">
      <h1>Micro</h1>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Proceso</th>
            <th scope="col">TCC</th>
            <th scope="col">TE</th>
            <th scope="col">TVQ</th>
            <th scope="col">TT</th>
            <th scope="col">TI</th>
            <th scope="col">TF</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
